{% extends "base/base.html" %}

{% block title %}Packages{% endblock %}

{% block content %}
{% load static %}
<section class="container" style="padding-top: 150px">
  <h3 style="color:#5177FF;" id="hd4">Interior and exterior packages</h3>
  <div class="divider-hd"></div>
  <div class="container">
      <div class="row text-center mb-hd">
          <div class="col-lg-3 col-md-4 col-sm-4 mb-5">
              <div class="card" style="width: 100%;">
                  <img src="{% static 'media/Rectangle 19.png' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title mb-4">Mini Valet</h5>
                      <h5 class="card-title mb-3">From £45</h5>
                      <h6>-:Package includes:-</h6>
                      <p class="card-text">
                          Citrus pre-wash <br>

                          Full exterior wash
                          (2 bucket safe wash) <br>

                          Wheels cleaned + tyres dressed <br>

                          Dried with microfibre towel <br>

                          Interior fully vacuumed <br>

                          Dash and plastics dressed <br>

                          Interior windows cleaned <br>
                      </p>
                      <a href="#" class="btn btn-hd">Book here</a>
                  </div>
              </div>
          </div>


          <div class="col-lg-3 col-md-4 col-sm-4 mb-5">

              <div class="card" style="width: 100%;">
                  <img src="{% static 'media/Rectangle 19.png' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title mb-4">Full Valet</h5>
                      <h5 class="card-title mb-3">From £70</h5>
                      <h6>-:Package includes:-</h6>
                      <p class="card-text">

                          *Mini Valet* <br>

                          Wax exterior <br>

                          Exterior plastics dressed

                      </p>
                      <a href="#" class="btn btn-hd">Book here</a>
                  </div>
              </div>
          </div>


          <div class="col-lg-3 col-md-4 col-sm-4 mb-5">
              <div class="card" style="width: 100%;">
                  <img src="{% static 'media/Rectangle 19.png' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title mb-4">Premium Valet</h5>
                      <h5 class="card-title mb-3">From £100</h5>
                      <h6>-:Package includes:-</h6>
                      <p class="card-text">

                          *Full Valet* <br>

                          Si02 Sealant applied for protection<br>

                          2 stage liquid decontamination to remove embedded iron particles and tar.
                      </p>
                      <a href="#" class="btn btn-hd">Book here</a>
                  </div>
              </div>

          </div>
          <div class="col-lg-3 col-md-4 col-sm-4 mb-5">
              <div class="card" style="width: 100%;">
                  <img src="{% static 'media/Rectangle 19.png' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h5 class="card-title mb-4">HYPRECISION DETAIL</h5>
                      <h5 class="card-title mb-3">From £150</h5>
                      <h6>-:Package includes:-</h6>
                      <p class="card-text">

                        COMMING SOON
                      </p>
                      <a href="#" class="btn btn-hd">Book here</a>
                  </div>
              </div>

          </div>
      </div>
  </div>
</section>

{% endblock content %}